@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --color-darkgreen: #36b37e;
  --color-lightgreen: #c5e9da;
  --color-neutral: #ebf0ee;
  --color-darkblue: #172b4d;
  --color-white: #fff;
  --color-neutral-border: #d0d9d4;
  --color-grey-text: #3a4a42;
  --borderCheck: 1px solid crimson;
}

body {
  background-color: var(--color-white);
}

.bg-container {
  background-image: url(./assets/header-m.svg);
  background-repeat: no-repeat;
  background-position: 0 2.8rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

/* ---------------Header Section--------------- */
nav {
  padding: 0.625rem 0.75rem;
  cursor: pointer;
}

.header-mobile nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-desktop {
  display: none;
}

.logo-holder {
  font-weight: var(--fw-600);
  font-size: 20px;
  line-height: 28px;
  padding: 0.625rem 0.75rem;
  text-decoration: none;
  color: var(--color-darkblue);
  animation-name: logo-rotate;
  animation-duration: 1400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes logo-rotate {
  from {
    transform: rotate(0) scale(0.9);
  }

  to {
    transform: rotate(360deg) scale(0.9);
  }
}

.logo-holder:hover {
  cursor: pointer;
  color: var(--color-darkgreen);
}

.openBtn {
  background-color: transparent;
  border: none;
}

.closeBtn {
  float: right;
  padding: 0.25rem;
}

.closeBtn:hover path,
.closeBtn:focus path {
  fill: var(--color-darkgreen);
  text-decoration: none;
  cursor: pointer;
}

.menu svg:hover path {
  fill: var(--color-darkgreen);
  cursor: pointer;
}

.modalContainer {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 3rem;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  z-index: 1;
}

.modalContainer li {
  list-style-type: none;
  font-weight: var(--fw-600);
  font-size: 1.75rem;
  line-height: 2.75rem;
}

.links.first {
  margin-top: 5rem;
}

.links {
  color: var(--color-grey-text);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  transition-duration: 300ms;
}

.links:hover {
  background-color: var(--color-lightgreen);
  transform: scale(1.1);
}

/* ---------------Content Section--------------- */
.content {
  margin-top: 5rem;
}

.content h1,
.content h2 {
  font-weight: var(--fw-700);
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.content h1 {
  animation-name: rainbow-text;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  color: transparent;
  background: linear-gradient(
    60deg,
    #20bf55,
    #01baef,
    goldenrod,
    #0cbaba,
    #380036
  );
  -webkit-background-clip: text;
  background-size: 60% 10%;
}

@keyframes rainbow-text {
  0%,
  100% {
    background-position: 0 0;
    transform: scale(1);
  }

  50% {
    background-position: 100% 0;
    transform: scale(1.05);
  }
}

.content h2 {
  color: var(--color-darkgreen);
}

.content p {
  font-weight: var(--fw-400);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--color-darkblue);
  padding: 1.5625rem;
}

.content p:hover {
  transition-duration: 500ms;
  transform: translateY(2%);
  color: var(--color-darkgreen);
}

.content ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content li {
  list-style-type: none;
  padding: 0 0.625rem;
}

.content svg:hover path {
  fill: var(--color-darkgreen);
  cursor: pointer;
}

.circleBtn {
  display: none;
}

/* ---------------Works Section--------------- */
.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin: 0 auto;
}

.works h2 {
  font-weight: var(--fw-700);
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: center;
  color: var(--color-darkblue);
}

.works img {
  margin: 0 auto;
  padding-bottom: 3.125rem;
  max-width: 100%;
}

.gridContainer {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.gridItem {
  display: grid;
  place-content: center;
  text-align: center;
  column-gap: 1.5rem;
  background-color: var(--color-neutral);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-neutral-border);
  border-radius: 8px;
  padding-top: 15.75rem;
  margin-bottom: 1.5rem;
  transition-duration: 500ms;
}

.gridItem:hover {
  transform: scale(1.1);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: var(--color-white);
  border-radius: 8px;
}

.descriptionContainer h3 {
  font-weight: var(--fw-600);
  font-size: 24px;
  line-height: 32px;
  color: var(--color-darkblue);
  margin: 1rem;
}

.descriptionContainer ul {
  display: flex;
  justify-content: center;
}

.descriptionContainer li {
  list-style-type: none;
  font-weight: var(--fw-600);
  font-size: 12px;
  line-height: 16px;
  background-color: var(--color-neutral);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  margin: 0 0.5rem;
  text-align: center;
  color: var(--color-grey-text);
  white-space: nowrap;
}

.gridItem button {
  background-color: var(--color-darkgreen);
  border-radius: 4px;
  border: hidden;
  font-weight: var(--fw-500);
  font-size: 17px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--color-white);
  padding: 0.75rem;
  margin: 1.5rem auto;
}

/* ---------------About Me Section--------------- */
.aboutMe {
  background-image: url(./assets/aboutme-m.svg), url(./assets/aboutme2-m.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 1.875rem;
  margin-bottom: 2rem;
  height: auto;
}

.aboutMe h2 {
  font-weight: var(--fw-700);
  font-size: 40px;
  line-height: 52px;
  color: var(--color-darkblue);
  margin-bottom: 1.5rem;
}

.p-rotate {
  font-weight: var(--fw-400);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding: 0 2.25rem;
}

.p-rotate:hover {
  transition-duration: 500ms;
  transform: translateY(2%);
  color: var(--color-darkgreen);
}

.aboutMe button {
  background-color: var(--color-darkgreen);
  border-radius: 4px;
  border: hidden;
  font-weight: var(--fw-500);
  font-size: 17px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--color-white);
  padding: 0.75rem;
  margin: 1.5rem auto;
}

/* ---------------Cards Section--------------- */
.cardsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cardsDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1.5rem;
  text-align: center;
  list-style-type: none;
  background-color: var(--color-neutral);
  border-radius: 8px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  width: auto;
  min-width: 355px;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 500ms;
}

.cardsDescription:hover {
  transform: scale(1.1);
}

.cardsDescription img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  max-width: 100%;
}

.cardsDescription h2 {
  font-weight: var(--fw-600);
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  padding: 0.75rem;
}

.lang {
  position: relative;
  bottom: 1.5rem;
}

.langUl {
  position: relative;
  bottom: 1rem;
}

.cardsDescription ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.cardsDescription li {
  list-style-type: none;
  font-weight: var(--fw-600);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-darkgreen);
  padding: 0.75rem;
  border-radius: 8px;
  background-color: var(--color-white);
  text-align: center;
  margin: 0 2px;
}

/* ---------------Contact Form Section--------------- */
.contactForm {
  background-image: url(./assets/contact-form-m.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.contactForm h2 {
  font-weight: var(--fw-700);
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--color-darkblue);
  padding: 2rem;
}

.contactForm h2:hover {
  transition-duration: 500ms;
  transform: translateY(2%);
  color: var(--color-darkgreen);
}

.contactForm form {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.contactForm form input {
  font-weight: var(--fw-400);
  font-size: 15px;
  line-height: 25px;
  color: #6b778c;
  height: 48px;
  border: 1px solid var(--color-neutral-border);
  border-radius: 4px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.9375rem 1rem;
}

.contactForm form .name-desktop {
  display: none;
}

.contactForm form textarea {
  font-weight: var(--fw-400);
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  height: 116px;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem;
  resize: none;
}

.contactForm form textarea:focus {
  border: 1px solid var(--color-darkgreen);
  background-color: var(--color-lightgreen);
}

.contactForm form input:focus {
  border: 1px solid var(--color-darkgreen);
  background-color: var(--color-lightgreen);
}

.contactForm form button {
  background-color: var(--color-darkgreen);
  border-radius: 4px;
  border: hidden;
  font-weight: var(--fw-500);
  font-size: 17px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--color-white);
  padding: 0.75rem;
  margin: 1.5rem auto;
  width: fit-content;
}

.breakline {
  display: none;
}

.iconLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.iconLinks li {
  list-style-type: none;
}

.iconLinks svg:hover path {
  fill: var(--color-darkgreen);
}

.emailMe {
  display: block;
  font-weight: var(--fw-400);
  font-size: 20px;
  line-height: 32px;
  height: 189px;
  text-align: center;
  text-decoration: none;
  color: #42526e;
  margin-bottom: 9.1875rem;
}

.emailMe:hover {
  color: var(--color-darkgreen);
}

/* ---------------Hover Effects--------------- */
.gridItem button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition-duration: 500ms;
  background-color: var(--color-darkblue);
  cursor: pointer;
}

.gridItem button:active {
  background-color: #008552;
}

.aboutMe button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition-duration: 500ms;
  background-color: var(--color-darkblue);
  cursor: pointer;
}

.aboutMe button:active {
  background-color: #008552;
}

.contactForm form button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition-duration: 500ms;
  background-color: var(--color-darkblue);
  cursor: pointer;
}

.contactForm form button:active {
  background-color: #008552;
}

.descriptionContainer li:hover {
  color: var(--color-darkgreen);
}

.cardsDescription h2:hover {
  color: var(--color-darkgreen);
}

.cardsDescription li:hover {
  color: #3a4a42;
}

/* ---------------Media Query Section --------------- */
@media (min-width: 768px) {
  .bg-container {
    background-image: url(./assets/header-d.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20rem;
    height: auto;
  }

  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
    font-weight: var(--fw-600);
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--color-darkblue);
    animation-name: header-onload;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes header-onload {
    from {
      transform: translateY(-200%);
    }

    to {
      transform: translateY(0);
    }
  }

  .header-desktop ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .header-desktop li {
    list-style-type: none;
  }

  .header-desktop a,
  .header-desktop a:visited {
    color: var(--color-darkblue);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .header-desktop a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-neutral-border);
    transform-origin: bottom right;
    transition: transform 500ms ease-out;
  }

  .header-desktop a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .header-desktop a:hover {
    color: var(--color-darkgreen);
  }

  .content {
    padding-left: 12rem;
    padding-right: 12rem;
    margin-top: 10rem;
  }

  .content h1,
  .content h2 {
    font-weight: var(--fw-800);
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .content h1 {
    animation-name: rainbow-text;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    color: transparent;
    background: linear-gradient(
      60deg,
      #20bf55,
      #01baef,
      goldenrod,
      #0cbaba,
      #380036
    );
    -webkit-background-clip: text;
    background-size: 60% 10%;
  }

  .content h2 {
    color: var(--color-darkgreen);
  }

  .content p {
    padding: 1.5rem 9rem;
  }

  .content p:hover {
    transition-duration: 500ms;
    transform: translateY(2%);
    color: var(--color-darkgreen);
  }

  .content li {
    padding-top: 2.25rem;
    padding-bottom: 5rem;
  }

  .circleBtn {
    display: block;
    margin: 0 auto;
    transition-duration: 250ms;
  }

  .circleBtn:hover path {
    fill: var(--color-darkgreen);
  }

  .circleBtn svg:hover {
    transform: scale(1.2);
  }

  .circleBtn:hover rect {
    stroke: var(--color-darkgreen);
  }

  .works img {
    display: none;
  }

  .gridContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 1.5rem;
    margin: 0 8rem;
  }

  .aboutMe {
    background-image: url(./assets/aboutme-d.svg), url(./assets/aboutme2-d.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    margin: 2rem auto;
    padding: 10rem 12rem;
    height: auto;
  }

  .cardsContainer {
    display: grid;
    place-items: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 1.5rem;
    margin: 0 8rem;
  }

  .contactForm {
    background-image: url(./assets/contact-form1-d.svg),
      url(./assets/contact-form2-d.svg), url(./assets/contact-form3-d.svg);
    background-position: bottom left, 20% 100%, bottom right;
    background-repeat: no-repeat;
    background-size: 10%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    padding-bottom: 5rem;
  }

  .cardsDescription {
    display: grid;
    place-items: center stretch;
  }

  .langUl {
    position: relative;
    bottom: 2.5rem;
  }

  .contactForm h2 {
    width: 40%;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 32px;
    height: 300px;
    align-self: center;
  }

  .contactForm form input.mobile {
    display: none;
  }

  .contactForm form {
    width: 60%;
    margin-top: 5rem;
    margin-right: 4rem;
    height: 400px;
    position: relative;
  }

  .contactForm form .name-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contactForm form .name-desktop input.desktop1 {
    margin-right: 0.5rem;
  }

  .contactForm form .name-desktop input.desktop2 {
    margin-left: 0.5rem;
  }

  .contactForm form button {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  .breakline {
    display: block;
    width: auto;
  }

  .iconLinks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0;
    height: min-content;
  }

  .supportingText {
    display: none;
  }
}

.content h1:hover {
  animation-play-state: paused;
}

.aboutMe h2:hover {
  color: var(--color-darkgreen);
}

.works h2:hover {
  color: var(--color-darkgreen);
}

footer {
  display: none;
}
